<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置类型别名（简化Mapper.xml中的类名） -->
    <typeAliases>
        <package name="cn.javat.ssm.entity"/>
    </typeAliases>
</configuration>